bin/
obj/
bin/
FodyWeavers.xsd
/.vs/
*.suo
*.user
*.vsidx
*.v2
/bin/
/obj/
/.vscode/
/.vs/
*.suo
*.user
*.vsidx
*.v2
/bin/
/obj/
/.vscode/
/.vs/
*.suo
*.user
*.vsidx
*.v2
/bin/
/obj/
/.vscode/
/.vs/
*.suo
*.user
*.vsidx
*.v2
/bin/
/obj/
/.vscode/
